


{% extends "base.html" %}

{% block title %}Set New Password{% endblock title %}

{% block content %}
<div class="auth-container">
    <h1>Set a new password</h1>

    <p class="auth-subtitle">
        Enter your new password below.
    </p>

    {% if validlink %}
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn-success" type="submit">
                Change Password
            </button>
        </form>
    {% else %}
        <p>
            This password reset link is invalid or has already been used.
        </p>

        <a href="{% url 'password_reset' %}" class="primary-button">
            Request a new link
        </a>
    {% endif %}
</div>
{% endblock content %}